.reply {
  $max-width: 860px;
  $in-cut: #{&}--in-cut;

  padding-bottom: 120px;

  &--in-cut {
    position: relative;
    padding-bottom: 0;
    height: 100%;
    background-color: rgba(get-color('bluegrey/010'), 0.9);
    backdrop-filter: blur(100px);
    overflow: hidden;

    @include respond-to('pc') {
      background-color: get-color('bluegrey/005');
      backdrop-filter: none;
    }
  }

  &__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    &:not(&--in-cut) {
      align-items: flex-end;
      max-width: $max-width;
      margin: 0 auto 30px;
      padding-top: 100px;

      @include respond-to('pc') {
        padding-top: 120px;
        padding-left: 400px - 290px;
        padding-right: 400px - 290px;
      }
    }

    &--in-cut {
      align-items: center;
      position: sticky;
      top: 0;
      left: 0;
      z-index: $zindex-base + 10;
      margin: 0 auto;
      padding: 13px 15px;
      width: 100%;
      background-color: get-color('bluegrey/005');

      @include respond-to('pc') {
        padding: 15px 80px;
      }
    }
  }

  &__heading {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    color: get-color('grey/100');
    @include font('en-title-m-60');

    #{$in-cut} & {
      @include font('body-r-16');
    }

    &__count {
      margin-left: 20px;
      @include font('body-r-16');

      #{$in-cut} & {
        margin-left: 10px;
      }
    }
  }

  &__list {
    #{$in-cut} &:not(&--best) {
      background-color: rgba(get-color('bluegrey/010'), 0.9);
      backdrop-filter: blur(100px);

      @include respond-to('pc') {
        background-color: get-color('bluegrey/010');
        backdrop-filter: none;
      }
    }

    &__container {
      max-width: $max-width;
      margin: 0 auto;

      #{$in-cut} & {
        height: calc(100% - 60px - 80px);
        overflow-y: auto;
      }
      &--in-cut-all {
        background: get-color('bluegrey/005');
        padding-left: $mobile-space;
        padding-right: $mobile-space;
        @include respond-to('pc') {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }

    &--empty {
      border: 1px solid get-color('bluegrey/030');
      border-width: 1px 0;
      padding: 51px 20px;
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
      background: get-color('bluegrey/010');
      @include font('body-r-14');

      @include respond-to('pc') {
        padding: 87px 110px;
      }
    }
  }

  &__pagination {
    margin-top: 20px;
    padding: 2px 0;

    #{$in-cut} & {
      padding: 5px 0;
      margin-bottom: 40px;
    }
  }

  &__write {
    &:not(&--in-cut) {
      margin: 80px auto 0;
      max-width: 640px;
    }

    #{$in-cut} & {
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 15px 20px;
      width: 100%;
      background-color: get-color('bluegrey/005');
      box-shadow: 0 5px 40px rgba(black, .25);
    }
  }
}

.--sr-only {
  @include sr-only;
}
