.video {
  &__cover {
    display: block;
    margin: 0 auto 30px;
    max-width: 860px;
    width: 100%;

    @include respond-to('pc') {
      margin-bottom: 60px;
    }
  }

  &__desc {
    white-space: pre-wrap;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }

  &__container {
    padding-bottom: 200px;
  }
}
