.inputbox {
  $parent: &;

  display: flex;
  flex-flow: column;

  &--inline {
    display: inline-flex;
    vertical-align: text-bottom;
  }

  &__label {
    margin-bottom: 10px;
    color: get-color('grey/100');
    @include font('subtitle-b-14');

    &--hide {
      @include sr-only;
    }

    #{$parent}--disabled & {
      color: get-color('grey/030');
    }
  }

  &__wrap {
    position: relative;
  }

  &__input {
    padding: 10px 0;
    border: 0;
    border-bottom: 1px solid get-color('grey/030');
    width: 100%;
    color: get-color('grey/100');
    background-color: transparent;
    @include font('title-b-24');

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      border-color: get-color('grey/100');
    }

    #{$parent}--error &,
    #{$parent}--error &:hover,
    #{$parent}--error &:focus {
      border-color: get-color('red/070');
    }

    &::placeholder {
      color: get-color('grey/030');

      #{$parent}--disabled & {
        color: get-color('grey/010');
      }
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);

    #{$parent}--verified & {
      color: get-color('blue/070');
    }

    #{$parent}--error & {
      color: get-color('red/070');
    }
  }

  &__feedback {
    display: block;
    margin-top: 5px;
    @include font('body-r-14');

    #{$parent}--notify &{
      color: get-color('blue/070');
    }

    #{$parent}--error &{
      color: get-color('red/070');
    }
  }
}