.accordion {
    $parent:&;
  
    &__header {
      display: block;
    }
    &__body {
      display: none;
    }
    &--expanded {
      #{$parent}__body {
        display: block;
      }
    }
  }
  